# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
dist

# Exclude sourcemaps
*.map

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Sublime Text
*.sublime-*
